<%= form_for(@talk) do |f| %>
  <% if @talk.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@talk.errors.count, "error") %> prohibited this talk from being saved:</h2>

      <ul>
      <% @talk.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :email %><br>
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :abstract %><br>
    <%= f.text_area :abstract, rows: 3, cols: 40 %>
  </div>
  <div class="field">
    <%= f.label :notes %><br>
    <%= f.text_area :notes, rows: 3, cols: 40 %>
  </div>
  <div class="field">
    <%= f.label :bio %><br>
    <%= f.text_area :bio, rows: 3, cols: 40  %>
  </div>
  <div class="field">
    <%= f.label :track %><br>
    <%= collection_select(:talk, :track_id, Track.all, :id, :title) %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
