<!DOCTYPE html>
<html>
<head>
  <title>Rconfsubmissions</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id='banner'>
    Ruby Conf 2015 submissions
  </div>
  <div id='columns'> 
    <div id='side'>
      <ul>
        <% if current_user %>
          Welcome <%= current_user.name %>!
          <%= link_to 'Sign out', signout_path %>
        <% else %>
          <%= link_to 'Sign in with twitter', '/auth/twitter' %>
        <% end %>
      </ul>
      <ul>
        <%= link_to 'home page', about_description_path %>
      </ul>
      <% if current_user && admin_user? %>
      <ul>
        <%= link_to 'edit tracks', tracks_path %>
      </ul>
      <% end %>
      <ul>
      </ul>
    </div>
    <div id='main'>
      <%= yield %>
    </div>
  </div>
</div>


</body>
</html>
