<!DOCTYPE html>
<html>
<head>
  <title>Rconfsubmissions</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body class='<%= controller.controller_name %>'>
  <div id='banner'>
    Ruby Conf 2015 submissions
  </div>
  <div id='columns'> 
    <div id='side'>
      <ul>
          <% if current_user %>
            <li><%= current_user.name %> signed in</li>
            <li><%= link_to 'Sign out', signout_path %></li>

          <% else %>
            <li><%= link_to 'Sign in with twitter', '/auth/twitter' %></li>
          <% end %>
        <li><%= link_to 'home page', about_description_path %></li>
            <% if admin_user? %>
        <li> <%= link_to 'edit tracks', tracks_path %> </li>
        <li> <%= link_to 'view/edit talks', talks_path %> </li>
            <% end %>
    </ul>
    </div>
    <div id='main'>
      <%= yield %>
    </div>
  </div>
</div>


</body>
</html>
